{
  "log": {
    "_recordingName": "buildOwnersRoles",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "3befe0ca00fe7532a452821224793de3",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.hubapi.com/settings/v3/users/roles"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 144,
            "text": "{\"results\":[{\"id\":\"97200\",\"name\":\"ExampleRole\",\"requiresBillingWrite\":false},{\"id\":\"97591\",\"name\":\"ExampleRole2\",\"requiresBillingWrite\":false}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-hubspot-correlation-id",
              "value": "6056193f-d626-4308-8b4f-a06ba47b24aa"
            },
            {
              "name": "x-hubspot-ratelimit-interval-milliseconds",
              "value": "10000"
            },
            {
              "name": "x-hubspot-ratelimit-max",
              "value": "100"
            },
            {
              "name": "x-hubspot-ratelimit-remaining",
              "value": "99"
            },
            {
              "name": "x-hubspot-ratelimit-secondly",
              "value": "10"
            },
            {
              "name": "x-hubspot-ratelimit-secondly-remaining",
              "value": "9"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 264,
      },
      {
        "_id": "56fa76b125e6f1b4f2ad451a73ff8c3d",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.hubapi.com/crm/v3/owners/"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 404,
            "text": "{\"results\":[{\"id\":\"84106262\",\"email\":\"stefan@creativice.com\",\"firstName\":\"Stefan\",\"lastName\":\"Virag\",\"userId\":25150127,\"createdAt\":\"2021-06-14T19:38:46.907Z\",\"updatedAt\":\"2021-06-14T19:38:46.907Z\",\"archived\":false},{\"id\":\"90089236\",\"email\":\"viragsf@gmail.com\",\"firstName\":\"\",\"lastName\":\"\",\"userId\":25516621,\"createdAt\":\"2021-07-13T13:57:46.581Z\",\"updatedAt\":\"2021-07-13T13:57:46.581Z\",\"archived\":false}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-hubspot-correlation-id",
              "value": "3ece024d-0e66-4edd-8e67-7ff[...]
