{
  "log": {
    "_recordingName": "fetchOwners",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "3befe0ca00fe7532a452821224793de3",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.hubapi.com/settings/v3/users/roles"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 202,
            "text": "{\"results\":[{\"id\":\"95124\",\"name\":\"TestRole\",\"requiresBillingWrite\":false},{\"id\":\"95389\",\"name\":\"SuperRole\",\"requiresBillingWrite\":true},{\"id\":\"96735\",\"name\":\"LimitedRole\",\"requiresBillingWrite\":false}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-hubspot-correlation-id",
              "value": "d4592025-10b2-4b78-b13d-f7cc3e01a72d"
            },
            {
              "name": "x-hubspot-ratelimit-interval-milliseconds",
              "value": "10000"
            },
            {
              "name": "x-hubspot-ratelimit-max",
              "value": "100"
            },
            {
              "name": "x-hubspot-ratelimit-remaining",
              "value": "99"
            },
            {
              "name": "x-hubspot-ratelimit-secondly",
              "value": "10"
            },
            {
              "name": "x-hubspot-ratelimit-secondly-remaining",
              "value": "9"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 543,
      },
      {
        "_id": "986da158beec2c9b278f24e44d023260",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.hubapi.com/settings/v3/users/"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 175,
            "text": "{\"results\":[{\"id\":\"25387116\",\"email\":\"pgilaga@gmail.com\",\"primaryTeamId\":\"3785345\"},{\"id\":\"25444566\",\"email\":\"pgrilaga@gmail.com\",\"roleId\":\"96735\",\"primaryTeamId\":\"3785345\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-hubspot-correlation-id",
              "value": "30288064-f78c-4ce6-9715-5e988e405465"
            },
            {
              "name": "x-hubspot-ratelimit-interval-milliseconds",
              "value": "10000"
            },
            {
              "[...]
