{
  "log": {
    "_recordingName": "fetchOwners",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "58449b42683fa69840143afe7ce9e72a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.hubapi.com/crm/v3/owners"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 209,
            "text": "[\"1f8b08000000000000009590bd0ec2300c84df2573a9f2d736648291053174023158ad299152819294a5eabbe32e0824402079f1ddd9d6e791058c834f91d9c3c85ccb2c33c608a9b56619c31e9c27e9da390f1dacbab9cf9b4b4fdec98598b6d023f93b183c491e1eca66ce9334440c1bda2a0b652a21ca8c35012161bb4e94925c8a05afa86aa12c9756f3dcf0623f0f5edb5f62109ab3bb215d38818f38654f\",\"10baaaf80b44f897a2c6985e20e82d45f91da2b452e5cae88f10a6e6da2a61b5ca65b17c07719cee42ca61d597010000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-hubspot-correlation-id",
              "value": "bc61ac3c-bcc3-4341-8380-a4e8c902d6a2"
            },
            {
              "name": "x-hubspot-ratelimit-interval-milliseconds",
              "value": "10000"
            },
            {
              "name": "x-hubspot-ratelimit-max",
              "value": "500"
            },
            {
              "name": "x-hubspot-ratelimit-remaining",
              "value": "499"
            },
            {
              "name": "x-hubspot-ratelimit-secondly",
              "value": "50"
            },
            {
              "name": "x-hubspot-ratelimit-secondly-remaining",
              "value": "49"
            },
            {
              "name": "x-trace",
              "value": "2B6BB2266EABCC630CBCFE2C2E1EAC52F84A935642000000000000000000"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 384,
      },
      {
        "_id": "b63605aa7c4db72bcd73032b0f79d47f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.hubapi.com/settings/v3/users/25387116"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 45,
            "text": "{\"id\":\"25387116\",\"email\":\"pgilaga@gmail.com\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-hubspot-correlation-id",
              "value": "0dbb0370-f6e3-4c43-8908-6f9ae46695f4"
            },
            {
              "name": "x-hubspot-ratelimit-interval-milliseconds",
              "value": "10000"
            },
            {
              "name": "x-hubspot-ra[...]
