{
  "log": {
    "_recordingName": "fetchOwners",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "56fa76b125e6f1b4f2ad451a73ff8c3d",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.hubapi.com/crm/v3/owners/"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 503,
            "text": "{\"results\":[{\"id\":\"88812444\",\"email\":\"pgilaga@gmail.com\",\"firstName\":\"Paul\",\"lastName\":\"Ilaga\",\"userId\":25387116,\"createdAt\":\"2021-07-07T13:02:40.805Z\",\"updatedAt\":\"2021-07-07T13:02:40.805Z\",\"archived\":false,\"teams\":[{\"id\":\"3785345\",\"name\":\"Test team 1\"}]},{\"id\":\"88814770\",\"email\":\"pgrilaga@gmail.com\",\"firstName\":\"Paul\",\"lastName\":\"Test\",\"userId\":25444566,\"createdAt\":\"2021-07-07T13:06:23.384Z\",\"updatedAt\":\"2021-07-08T04:31:43.259Z\",\"archived\":false,\"teams\":[{\"id\":\"3785345\",\"name\":\"Test team 1\"}]}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-hubspot-correlation-id",
              "value": "9926d5ee-bd6f-4434-b970-c5928980c4e5"
            },
            {
              "name": "x-hubspot-ratelimit-interval-milliseconds",
              "value": "10000"
            },
            {
              "name": "x-hubspot-ratelimit-max",
              "value": "500"
            },
            {
              "name": "x-hubspot-ratelimit-remaining",
              "value": "499"
            },
            {
              "name": "x-hubspot-ratelimit-secondly",
              "value": "50"
            },
            {
              "name": "x-hubspot-ratelimit-secondly-remaining",
              "value": "49"
            },
            {
              "name": "x-trace",
              "value": "2BEEC67B132211910D568C8E3F7EF0EBC2514C2BB8000000000000000000"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 360,
      },
      {
        "_id": "b63605aa7c4db72bcd73032b0f79d47f",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.hubapi.com/settings/v3/users/25387116"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 71,
            "text": "{\"id\":\"25387116\",\"email\":\"pgilaga@gmail.com\",\"primaryTeamId\":\"3785345\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-hubspot-correlation-id",
              "value": "3c6429d2-b2f4-4c07-ae8f-9f70ccc8d9b1"
            },
            {
              "name": "x-hubspot-ratelimit-interval-milliseconds",
              "value": "10000"
            },
            {
              "name": "x-hubspot-ratelimit-ma[...]
