{
  "log": {
    "_recordingName": "fetchOwners",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "08102a108f0457eb7001fae535f691a9",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "2"
            }
          ],
          "url": "https://api.hubapi.com/crm/v3/owners/?limit=2"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 321,
            "text": "{\"results\":[{\"id\":\"317862822\",\"email\":\"ronald.arias@contractor.jupiterone.com\",\"firstName\":\"Ronald\",\"lastName\":\"Arias\",\"userId\":49422897,\"createdAt\":\"2023-01-27T18:15:26.472Z\",\"updatedAt\":\"2023-02-15T17:11:09.475Z\",\"archived\":false},{\"id\":\"328396076\",\"email\":\"ronald.arias+2@contractor.jupiterone.com\",\"firstName\":\"\",\"lastName\":\"\",\"userId\":49684023,\"createdAt\":\"2023-02-09T18:56:56.063Z\",\"updatedAt\":\"2023-02-09T18:56:56.063Z\",\"archived\":false}],\"paging\":{\"next\":{\"after\":\"MzI4Mzk2MDg2\",\"link\":\"https://api.hubapi.com/crm/v3/owners/?limit=2&after=MzI4Mzk2MDg2\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-hubspot-correlation-id",
              "value": "36437321-a211-4315-ae53-d69528ee57ac"
            },
            {
              "name": "x-hubspot-ratelimit-interval-milliseconds",
              "value": "10000"
            },
            {
              "name": "x-hubspot-ratelimit-max",
              "value": "100"
            },
            {
              "name": "x-hubspot-ratelimit-remaining",
              "value": "97"
            },
            {
              "name": "x-hubspot-ratelimit-secondly",
              "value": "10"
            },
            {
              "name": "x-hubspot-ratelimit-secondly-remaining",
              "value": "9"
            },
            {
              "name": "x-trace",
              "value": "2B2D47D7A66273EED10B40FD1070665A552388E12B000000000000000000"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 362,
      },
      {
        "_id": "30ba74cfbbf1af8c306e5b921b38f0e4",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "after",
              "value": "MzI4Mzk2MDg2"
            },
            {
              "name": "limit",
              "value": "2"
      [...]
