{
  "log": {
    "_recordingName": "fetchOwners",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "3befe0ca00fe7532a452821224793de3",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.hubapi.com/settings/v3/users/roles"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 202,
            "text": "{\"results\":[{\"id\":\"95124\",\"name\":\"TestRole\",\"requiresBillingWrite\":false},{\"id\":\"95389\",\"name\":\"SuperRole\",\"requiresBillingWrite\":true},{\"id\":\"96735\",\"name\":\"LimitedRole\",\"requiresBillingWrite\":false}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-hubspot-correlation-id",
              "value": "227518d0-11d0-4e6f-89c8-b1d3dce3f034"
            },
            {
              "name": "x-hubspot-ratelimit-interval-milliseconds",
              "value": "10000"
            },
            {
              "name": "x-hubspot-ratelimit-max",
              "value": "100"
            },
            {
              "name": "x-hubspot-ratelimit-remaining",
              "value": "98"
            },
            {
              "name": "x-hubspot-ratelimit-secondly",
              "value": "10"
            },
            {
              "name": "x-hubspot-ratelimit-secondly-remaining",
              "value": "9"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 377,
      },
      {
        "_id": "56fa76b125e6f1b4f2ad451a73ff8c3d",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.hubapi.com/crm/v3/owners/"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 503,
            "text": "{\"results\":[{\"id\":\"88812444\",\"email\":\"pgilaga@gmail.com\",\"firstName\":\"Paul\",\"lastName\":\"Ilaga\",\"userId\":25387116,\"createdAt\":\"2021-07-07T13:02:40.805Z\",\"updatedAt\":\"2021-07-07T13:02:40.805Z\",\"archived\":false,\"teams\":[{\"id\":\"3785345\",\"name\":\"Test team 1\"}]},{\"id\":\"88814770\",\"email\":\"pgrilaga@gmail.com\",\"firstName\":\"Paul\",\"lastName\":\"Test\",\"userId\":25444566,\"createdAt\":\"2021-07-07T13:06:23.384Z\",\"updatedAt\":\"2021-07-08T04:31:43.259Z\",\"archived\":false,\"teams\":[{\"id\":\"3785345\",\"name\":\"Test team 1\"}]}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
      [...]
