{
  "log": {
    "_recordingName": "fetchOwners",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "56fa76b125e6f1b4f2ad451a73ff8c3d",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.hubapi.com/crm/v3/owners/"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 404,
            "text": "{\"results\":[{\"id\":\"84106262\",\"email\":\"stefan@creativice.com\",\"firstName\":\"Stefan\",\"lastName\":\"Virag\",\"userId\":25150127,\"createdAt\":\"2021-06-14T19:38:46.907Z\",\"updatedAt\":\"2021-06-14T19:38:46.907Z\",\"archived\":false},{\"id\":\"90089236\",\"email\":\"viragsf@gmail.com\",\"firstName\":\"\",\"lastName\":\"\",\"userId\":25516621,\"createdAt\":\"2021-07-13T13:57:46.581Z\",\"updatedAt\":\"2021-07-13T13:57:46.581Z\",\"archived\":false}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-hubspot-correlation-id",
              "value": "562ebb3a-bf68-4b95-a856-ba4767b5a9a4"
            },
            {
              "name": "x-hubspot-ratelimit-interval-milliseconds",
              "value": "10000"
            },
            {
              "name": "x-hubspot-ratelimit-max",
              "value": "100"
            },
            {
              "name": "x-hubspot-ratelimit-remaining",
              "value": "99"
            },
            {
              "name": "x-hubspot-ratelimit-secondly",
              "value": "10"
            },
            {
              "name": "x-hubspot-ratelimit-secondly-remaining",
              "value": "9"
            },
            {
              "name": "x-trace",
              "value": "2B8AE657904BD15C9146B9782AC07DF16AE74D490A15A4A4847C46C86401"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 257,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
