{
  "log": {
    "_recordingName": "fetchCompanies",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "fe64c41cb2a2915c005564330b3303ba",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "since",
              "value": "0"
            },
            {
              "name": "count",
              "value": "2"
            }
          ],
          "url": "https://api.hubapi.com/companies/v2/companies/recent/modified?since=0&count=2"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 2558,
            "text": "{\"results\":[{\"portalId\":23884294,\"companyId\":12352345462,\"isDeleted\":false,\"properties\":{\"country\":{\"value\":\"Bulgaria\",\"timestamp\":1675973939671,\"source\":\"COMPANY_INSIGHTS\",\"sourceId\":\"CompanyInsightsPropertyMappings\",\"updatedByUserId\":null,\"versions\":[{\"name\":\"country\",\"value\":\"Bulgaria\",\"timestamp\":1675973939671,\"sourceId\":\"CompanyInsightsPropertyMappings\",\"source\":\"COMPANY_INSIGHTS\",\"sourceVid\":[],\"persistenceTimestamp\":1675973941746}]},\"num_associated_contacts\":{\"value\":\"0\",\"timestamp\":1675973939747,\"source\":\"CALCULATED\",\"sourceId\":\"RollupProperties\",\"updatedByUserId\":null,\"versions\":[{\"name\":\"num_associated_contacts\",\"value\":\"0\",\"timestamp\":1675973939747,\"sourceId\":\"RollupProperties\",\"source\":\"CALCULATED\",\"sourceVid\":[],\"persistenceTimestamp\":1675973941746}]},\"city\":{\"value\":\"Sofia\",\"timestamp\":1675973938983,\"source\":\"CRM_UI\",\"sourceId\":\"userId:49422897\",\"updatedByUserId\":49422897,\"versions\":[{\"name\":\"city\",\"value\":\"Sofia\",\"timestamp\":1675973938983,\"sourceId\":\"userId:49422897\",\"source\":\"CRM_UI\",\"sourceVid\":[],\"requestId\":\"0ade2c3c-47fe-48a5-8416-ab25a995354b\",\"updatedByUserId\":49422897,\"useTimestampAsPersistenceTimestamp\":true}]},\"timezone\":{\"value\":\"Europe/Sofia\",\"timestamp\":1675973938983,\"source\":\"CRM_UI\",\"sourceId\":\"userId:49422897\",\"updatedByUserId\":49422897,\"versions\":[{\"name\":\"timezone\",\"value\":\"Europe/Sofia\",\"timestamp\":1675973938983,\"sourceId\":\"userId:49422897\",\"source\":\"CRM_UI\",\"sourceVid\":[],\"requestId\":\"0ade2c3c-47fe-48a5-8416-ab25a995354b\",\"updatedByUserId\":49422897,\"useTimestampAsPersistenceTimestamp\":true}]},\"hs_pipeline\":{\"value\":\"companies-lifecycle-pipeline\",\"timestamp\":1675973938983,\"source\":\"CRM_UI\",\"sourceId\":\"userId:49422897\",\"updatedByUserId\":49422897,\"versions\":[{\"name\":\"hs_pipeline\",\"value\":\"companies-lifecycle-pipeline\",\"timestamp\":1675973938983,\"sourceId\":\"userId:49422897\",\"source\":\"CRM_UI\",\"sourceVid\":[],\"requestId\":\"0ade2c3c-47fe-48a5-8416-ab25a995354b\",\"updatedByUserId\":49422897,\"useTimestampAsPersistenceTimestamp\":true}]},\"description\":{\"value\":\"test leveraging our deep domain expertise and technology skills. Our solution driven approach takes into account a client's current environment while ensuring flexibility and scalability to grow with the enterprise. We transform your business with technology.\",\"timestamp\":1675973938983,\"source\":\"CRM_UI\",\"sourceId\":\"userId:49422897\",\"updatedByUserId\":49422897,\"versions\":[{\"name\":\"description\",\"value\":\"test leveraging our deep domain expertise and technology skills. Our solution driven approach takes into account a client's current environment while ensuring flexibility and scalability to grow with the enterprise. We transform your business with technology.\",\"timestamp\":1675973938983,\"sourceId\":\"userId:49422897\",\"source\":\"CRM_UI\",\"sourceVid\":[],\"requestId\":\"0ade2c3c-47fe-48a5-8416-ab25a995354b\",\"updatedByUserId\":49422897,\"useTimestampAsPersistenceTimestamp\":true}]},\"createdate\":{\"value\":\"1675973938983\",\"timestamp\":1675973938983,\"source\":\"CRM_UI\",\"sourceId\":\"userId:49422897\",\"updatedByUserId\":49422897,\"versions\":[{\"name\":\"createdate\",\"value\":\"1675973938983\",\"timestamp\":1675973938983,\"sourceId\":\"userId:49422897\",\"source\":\"CRM_UI\",\"sourceVid\":[],\"requestId\":\"0ade2c3c-47fe-48a5-8416-ab25a995354b\",\"updatedByUserId\":49422897,\"useTimestampAsPersistenceTimestamp\":true}]},\"web_technologies\":{\"value\":\"linode_hosting;godaddy_nameserver;amazon__cloudfront\",\"timestamp\":1675973939671,\"source\":\"COMPANY_INSIGHTS\",\"sourceId\":\"CompanyInsightsPropertyMappings\",\"updatedByUserId\":null,\"versions\":[{\"name\":\"web_technologies\",\"value\":\"linode_hosting;godaddy_nameserver;amazon__cloudfront\",\"timestamp\":1675973939671,\"sourceId\":\"CompanyInsightsPropertyMappings\",\"source\":\"COMPANY_INSIGHTS\",\"sourceVid\":[],\"persistenceTimestamp\":1675973941746}]},\"hs_num_blockers\":{\"value\":\"0\",\"timestamp\":1675973939747,\"source\":\"CALCULATED\",\"sourceId\":\"RollupProperties\",\"updatedByUserId\":null,\"versions\":[{\"name\":\"hs_num_blockers\",\"value\":\"0\",\"timestamp\":1675973939747,\"sourceId\":\"RollupProperties\",\"source\":\"CALCULATED\",\"sourceVid\":[],\"persistenceTimestamp\":1675973941746}]},\"numberofemployees\":{\"value\":\"10\",\"timestamp\":1675973938983,\"source\":\"CRM_UI\",\"sourceId\":\"userId:49422897\",\"updatedByUserId\":49422897,\"versions\":[{\"name\":\"numberofemployees\",\"value\":\"10\",\"timestamp\":1675973938983,\"sourceId\":\"userId:49422897\",\"source\":\"CRM_UI\",\"sourceVid\":[],\"requestId\":\"0ade2c3c-47fe-48a5-8416-ab25a995354b\",\"updatedByUserId\":49422897,\"useTimestampAsPersistenceTimestamp\":true}]},\"linkedin_company_page\":{\"value\":\"https://www.linkedin.com/company/inveniti\",\"timestamp\":1675973938983,\"source\":\"CRM_UI\",\"sourceId\":\"userId:49422897\",\"updatedByUserId\":49422897,\"versions\":[{\"name\":\"linkedin_company_page\",\"value\":\"https://www.linkedin.com/company/inveniti\",\"timestamp\":1675973938983,\"sourceId\":\"userId:49422897\",\"source\":\"CRM_UI\",\"sourceVid\":[],\"requestId\":\"0ade2c3c-47fe-48a5-8416-ab25a995354b\",\"updatedByUserId\":49422897,\"useTimestampAsPersistenceTimestamp\":true}]},\"hubspot_owner_id\":{\"value\":\"317862822\",\"timestamp\":1675973938983,\"source\":\"CRM_UI\",\"sourceId\":\"userId:49422897\",\"updatedByUserId\":49422897,\"versions\":[{\"name\":\"hubspot_owner_id\",\"value\":\"317862822\",\"timestamp\":1675973938983,\"sourceId\":\"userId:49422897\",\"source\":\"CRM_UI\",\"sourceVid\":[],\"requestId\":\"0ade2c3c-47fe-48a5-8416-ab25a995354b\",\"updatedByUserId\":49422897,\"useTimestampAsPersistenceTimestamp\":true}]},\"hs_created_by_user_id\":{\"value\":\"49422897\",\"timestamp\":1675973938983,\"source\":\"CRM_UI\",\"sourceId\":\"userId:49422897\",\"updatedByUserId\":49422897,\"versions\":[{\"name\":\"hs_created_by_user_id\",\"value\":\"49422897\",\"timestamp\":1675973938983,\"sourceId\":\"userId:49422897\",\"source\":\"CRM_UI\",\"sourceVid\":[],\"requestId\":\"0ade2c3c-47fe-48a5-8416-ab25a995354b\",\"updatedByUserId\":49422897,\"useTimestampAsPersistenceTimestamp\":true}]},\"annualrevenue\":{\"value\":\"1000000\",\"timestamp\":1675973938983,\"source\":\"CRM_UI\",\"sourceId\":\"userId:49422897\",\"updatedByUserId\":49422897,\"versions\":[{\"name\":\"annualrevenue\",\"value\":\"1000000\",\"timestamp\":1675973938983,\"sourceId\":\"userId:49422897\",\"source\":\"CRM_UI\",\"sourceVid\":[],\"requestId\":\"0ade2c3c-47fe-48a5-8416-ab25a995354b\",\"updatedByUserId\":49422897,\"useTimestampAsPersistenceTimestamp\":true}]},\"founded_year\":{\"value\":\"2013\",\"timestamp\":1675973939671,\"source\":\"COMPANY_INSIGHTS\",\"sourceId\":\"CompanyInsightsPropertyMappings\",\"updatedByUserId\":null,\"versions\":[{\"name\":\"founded_year\",\"value\":\"2013\",\"timestamp\":1675973939671,\"sourceId\":\"CompanyInsightsPropertyMappings\",\"source\":\"COMPANY_INSIGHTS\",\"sourceVid\":[],\"persistenceTimestamp\":1675973941746}]},\"state\":{\"value\":\"Sofia City Province\",\"timestamp\":1675973938983,\"source\":\"CRM_UI\",\"sourceId\":\"userId:49422897\",\"updatedByUserId\":49422897,\"versions\":[{\"name\":\"state\",\"value\":\"Sofia City Province\",\"timestamp\":1675973938983,\"sourceId\":\"userId:49422897\",\"source\":\"CRM_UI\",\"sourceVid\":[],\"requestId\":\"0ade2c3c-47fe-48a5-8416-ab25a995354b\",\"updatedByUserId\":49422897,\"useTimestampAsPersistenceTimestamp\":true}]},\"hs_all_owner_ids\":{\"value\":\"317862822\",\"timestamp\":1675973938983,\"source\":\"CRM_UI\",\"sourceId\":\"userId:49422897\",\"updatedByUserId\":49422897,\"versions\":[{\"name\":\"hs_all_owner_ids\",\"value\":\"317862822\",\"timestamp\":1675973938983,\"sourceId\":\"userId:49422897\",\"source\":\"CRM_UI\",\"sourceVid\":[],\"requestId\":\"0ade2c3c-47fe-48a5-8416-ab25a995354b\",\"updatedByUserId\":49422897,\"useTimestampAsPersistenceTimestamp\":true}]},\"linkedinbio\":{\"value\":\"test leveraging our deep domain expertise and technology skills. Our solution driven approach takes into account a client's current environment while ensuring flexibility and scalability to grow with the enterprise. We transform your business with technology.\",\"timestamp\":1675973939671,\"source\":\"COMPANY_INSIGHTS\",\"sourceId\":\"CompanyInsightsPropertyMappings\",\"updatedByUserId\":null,\"versions\":[{\"name\":\"linkedinbio\",\"value\":\"test leveraging our deep domain expertise and technology skills. Our solution driven approach takes into account a client's current environment while ensuring flexibility and scalability to grow with the enterprise. We transform your business with technology.\",\"timestamp\":1675973939671,\"sourceId\":\"CompanyInsightsPropertyMappings\",\"source\":\"COMPANY_INSIGHTS\",\"sourceVid\":[],\"persistenceTimestamp\":1675973941746}]},\"hs_num_open_deals\":{\"value\":\"0\",\"timestamp\":1675973939748,\"source\":\"CALCULATED\",\"sourceId\":\"RollupProperties\",\"updatedByUserId\":null,\"versions\":[{\"name\":\"hs_num_open_deals\",\"value\":\"0\",\"timestamp\":1675973939748,\"sourceId\":\"RollupProperties\",\"source\":\"CALCULATED\",\"sourceVid\":[],\"persistenceTimestamp\":1675973941746}]},\"website\":{\"value\":\"test3.com\",\"timestamp\":1675973938983,\"source\":\"CALCULATED\",\"sourceId\":null,\"updatedByUserId\":49422897,\"versions\":[{\"name\":\"website\",\"value\":\"test3.com\",\"timestamp\":1675973938983,\"source\":\"CALCULATED\",\"sourceVid\":[],\"requestId\":\"0ade2c3c-47fe-48a5-8416-ab25a995354b\",\"updatedByUserId\":49422897,\"useTimestampAsPersistenceTimestamp\":true}]},\"address\":{\"value\":\"THORAIPAKKAM\",\"timestamp\":1675973939671,\"source\":\"COMPANY_INSIGHTS\",\"sourceId\":\"CompanyInsightsPropertyMappings\",\"updatedByUserId\":null,\"versions\":[{\"name\":\"address\",\"value\":\"THORAIPAKKAM\",\"timestamp\":1675973939671,\"sourceId\":\"CompanyInsightsPropertyMappings\",\"source\":\"COMPANY_INSIGHTS\",\"sourceVid\":[],\"persistenceTimestamp\":1675973941746}]},\"hs_user_ids_of_all_owners\":{\"value\":\"49422897\",\"timestamp\":1675973938983,\"source\":\"CRM_UI\",\"sourceId\":\"userId:49422897\",\"updatedByUserId\":49422897,\"versions\":[{\"name\":\"hs_user_ids_of_all_owners\",\"value\":\"49422897\",\"timestamp\":1675973938983,\"sourceId\":\"userId:49422897\",\"source\":\"CRM_UI\",\"sourceVid\":[],\"requestId\":\"0ade2c3c-47fe-48a5-8416-ab25a995354b\",\"updatedByUserId\":49422897,\"useTimestampAsPersistenceTimestamp\":true}]},\"hs_target_account_probability\":{\"value\":\"0.49565839767456055\",\"timestamp\":1675973940577,\"source\":\"SALES\",\"sourceId\":null,\"updatedByUserId\":null,\"versions\":[{\"name\":\"hs_target_account_probability\",\"value\":\"0.49565839767456055\",\"timestamp\":1675973940577,\"source\":\"SALES\",\"sourceVid\":[],\"useTimestampAsPersistenceTimestamp\":true}]},\"hs_lastmodifieddate\":{\"value\":\"1675973940577\",\"timestamp\":1675973940577,\"source\":\"SALES\",\"sourceId\":null,\"updatedByUserId\":null,\"versions\":[{\"name\":\"hs_lastmodifieddate\",\"value\":\"1675973940577\",\"timestamp\":1675973940577,\"source\":\"SALES\",\"sourceVid\":[],\"useTimestampAsPersistenceTimestamp\":true}]},\"hubspot_owner_assigneddate\":{\"value\":\"1675973938983\",\"timestamp\":1675973938983,\"source\":\"CRM_UI\",\"sourceId\":\"userId:49422897\",\"updatedByUserId\":49422897,\"versions\":[{\"name\":\"hubspot_owner_assigneddate\",\"value\":\"1675973938983\",\"timestamp\":1675973938983,\"sourceId\":\"userId:49422897\",\"source\":\"CRM_UI\",\"sourceVid\":[],\"requestId\":\"0ade2c3c-47fe-48a5-8416-ab25a995354b\",\"updatedByUserId\":49422897,\"useTimestampAsPersistenceTimestamp\":true}]},\"hs_num_decision_makers\":{\"value\":\"0\",\"timestamp\":1675973939748,\"source\":\"CALCULATED\",\"sourceId\":\"RollupProperties\",\"updatedByUserId\":null,\"versions\":[{\"name\":\"hs_num_decision_makers\",\"value\":\"0\",\"timestamp\":1675973939748,\"sourceId\":\"RollupProperties\",\"source\":\"CALCULATED\",\"sourceVid\":[],\"persistenceTimestamp\":1675973941746}]},\"domain\":{\"value\":\"test3.com\",\"timestamp\":1675973938983,\"source\":\"CRM_UI\",\"sourceId\":\"userId:49422897\",\"updatedByUserId\":49422897,\"versions\":[{\"name\":\"domain\",\"value\":\"test3.com\",\"timestamp\":1675973938983,\"sourceId\":\"userId:49422897\",\"source\":\"CRM_UI\",\"sourceVid\":[],\"requestId\":\"0ade2c3c-47fe-48a5-8416-ab25a995354b\",\"updatedByUserId\":49422897,\"useTimestampAsPersistenceTimestamp\":true}]},\"name\":{\"value\":\"testme3\",\"timestamp\":1675973938983,\"source\":\"CRM_UI\",\"sourceId\":\"userId:49422897\",\"updatedByUserId\":49422897,\"versions\":[{\"name\":\"name\",\"value\":\"testme3\",\"timestamp\":1675973938983,\"sourceId\":\"userId:49422897\",\"source\":\"CRM_UI\",\"sourceVid\":[],\"requestId\":\"0ade2c3c-47fe-48a5-8416-ab25a995354b\",\"updatedByUserId\":49422897,\"useTimestampAsPersistenceTimestamp\":true}]},\"is_public\":{\"value\":\"false\",\"timestamp\":1675973939671,\"source\":\"COMPANY_INSIGHTS\",\"sourceId\":\"CompanyInsightsPropertyMappings\",\"updatedByUserId\":null,\"versions\":[{\"name\":\"is_public\",\"value\":\"false\",\"timestamp\":1675973939671,\"sourceId\":\"CompanyInsightsPropertyMappings\",\"source\":\"COMPANY_INSIGHTS\",\"sourceVid\":[],\"persistenceTimestamp\":1675973941746}]},\"hs_object_id\":{\"value\":\"12352345462\",\"timestamp\":1675973938983,\"source\":\"CRM_UI\",\"sourceId\":\"userId:49422897\",\"updatedByUserId\":49422897,\"versions\":[{\"name\":\"hs_object_id\",\"value\":\"12352345462\",\"timestamp\":1675973938983,\"sourceId\":\"userId:49422897\",\"source\":\"CRM_UI\",\"sourceVid\":[],\"requestId\":\"0ade2c3c-47fe-48a5-8416-ab25a995354b\",\"updatedByUserId\":49422897,\"useTimestampAsPersistenceTimestamp\":true}]},\"hs_num_contacts_with_buying_roles\":{\"value\":\"0\",\"timestamp\":1675973939747,\"source\":\"CALCULATED\",\"sourceId\":\"RollupProperties\",\"updatedByUserId\":null,\"versions\":[{\"name\":\"hs_num_contacts_with_buying_roles\",\"value\":\"0\",\"timestamp\":1675973939747,\"sourceId\":\"RollupProperties\",\"source\":\"CALCULATED\",\"sourceVid\":[],\"persistenceTimestamp\":1675973941746}]},\"hs_num_child_companies\":{\"value\":\"0\",\"timestamp\":1675973939747,\"source\":\"CALCULATED\",\"sourceId\":\"RollupProperties\",\"updatedByUserId\":null,\"versions\":[{\"name\":\"hs_num_child_companies\",\"value\":\"0\",\"timestamp\":1675973939747,\"sourceId\":\"RollupProperties\",\"source\":\"CALCULATED\",\"sourceVid\":[],\"persistenceTimestamp\":1675973941746}]},\"lifecyclestage\":{\"value\":\"lead\",\"timestamp\":1675973938983,\"source\":\"CRM_UI\",\"sourceId\":\"userId:49422897\",\"updatedByUserId\":49422897,\"versions\":[{\"name\":\"lifecyclestage\",\"value\":\"lead\",\"timestamp\":1675973938983,\"sourceId\":\"userId:49422897\",\"source\":\"CRM_UI\",\"sourceVid\":[],\"requestId\":\"0ade2c3c-47fe-48a5-8416-ab25a995354b\",\"updatedByUserId\":49422897,\"useTimestampAsPersistenceTimestamp\":true}]},\"hs_updated_by_user_id\":{\"value\":\"49422897\",\"timestamp\":1675973938983,\"source\":\"CRM_UI\",\"sourceId\":\"userId:49422897\",\"updatedByUserId\":49422897,\"versions\":[{\"name\":\"hs_updated_by_user_id\",\"value\":\"49422897\",\"timestamp\":1675973938983,\"sourceId\":\"userId:49422897\",\"source\":\"CRM_UI\",\"sourceVid\":[],\"requestId\":\"0ade2c3c-47fe-48a5-8416-ab25a995354b\",\"updatedByUserId\":49422897,\"useTimestampAsPersistenceTimestamp\":true}]}},\"additionalDomains\":[],\"stateChanges\":[],\"mergeAudits\":[]},{\"portalId\":23884294,\"companyId\":12352345455,\"isDeleted\":false,\"properties\":{\"num_associated_contacts\":{\"value\":\"0\",\"timestamp\":1675973930174,\"source\":\"CALCULATED\",\"sourceId\":\"RollupProperties\",\"updatedByUserId\":null,\"versions\":[{\"name\":\"num_associated_contacts\",\"value\":\"0\",\"timestamp\":1675973930174,\"sourceId\":\"RollupProperties\",\"source\":\"CALCULATED\",\"sourceVid\":[],\"useTimestampAsPersistenceTimestamp\":true}]},\"hs_pipeline\":{\"value\":\"comp[...]
