{
  "log": {
    "_recordingName": "fetchCompanies",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "178c54fa7da49daabd661efd712163a1",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "100"
            }
          ],
          "url": "https://api.hubapi.com/crm/v3/objects/companies?limit=100"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 589,
            "text": "{\"results\":[{\"id\":\"6534491450\",\"properties\":{\"createdate\":\"2021-07-08T05:09:01.918Z\",\"domain\":\"hubspot.com\",\"hs_lastmodifieddate\":\"2021-07-08T05:10:03.397Z\",\"hs_object_id\":\"6534491450\",\"name\":\"HubSpot, Inc.\"},\"createdAt\":\"2021-07-08T05:09:01.918Z\",\"updatedAt\":\"2021-07-08T05:10:03.397Z\",\"archived\":false},{\"id\":\"6558739580\",\"properties\":{\"createdate\":\"2021-07-13T05:34:55.981Z\",\"domain\":null,\"hs_lastmodifieddate\":\"2021-07-13T05:35:58.142Z\",\"hs_object_id\":\"6558739580\",\"name\":\"Test company\"},\"createdAt\":\"2021-07-13T05:34:55.981Z\",\"updatedAt\":\"2021-07-13T05:35:58.142Z\",\"archived\":false}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-hubspot-correlation-id",
              "value": "7d6196d8-2ca1-45af-99a2-8be34e863404"
            },
            {
              "name": "x-hubspot-ratelimit-interval-milliseconds",
              "value": "10000"
            },
            {
              "name": "x-hubspot-ratelimit-max",
              "value": "500"
            },
            {
              "name": "x-hubspot-ratelimit-remaining",
              "value": "499"
            },
            {
              "name": "x-hubspot-ratelimit-secondly",
              "value": "50"
            },
            {
              "name": "x-hubspot-ratelimit-secondly-remaining",
              "value": "49"
            },
            {
              "name": "x-trace",
              "value": "2BE55A22FAB25329AD3E3437DA21FF36304BA1BB08000000000000000000"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 383,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
