{
  "log": {
    "_recordingName": "fetchUsers",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "986da158beec2c9b278f24e44d023260",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.hubapi.com/settings/v3/users/"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 175,
            "text": "{\"results\":[{\"id\":\"25387116\",\"email\":\"pgilaga@gmail.com\",\"primaryTeamId\":\"3785345\"},{\"id\":\"25444566\",\"email\":\"pgrilaga@gmail.com\",\"roleId\":\"96735\",\"primaryTeamId\":\"3785345\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-hubspot-correlation-id",
              "value": "a39a26ce-e407-4a6b-b6e0-d1b054ba209d"
            },
            {
              "name": "x-hubspot-ratelimit-interval-milliseconds",
              "value": "10000"
            },
            {
              "name": "x-hubspot-ratelimit-max",
              "value": "100"
            },
            {
              "name": "x-hubspot-ratelimit-remaining",
              "value": "97"
            },
            {
              "name": "x-hubspot-ratelimit-secondly",
              "value": "10"
            },
            {
              "name": "x-hubspot-ratelimit-secondly-remaining",
              "value": "9"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 962,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
