{
  "log": {
    "_recordingName": "fetchRoles",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "3befe0ca00fe7532a452821224793de3",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.hubapi.com/settings/v3/users/roles"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 147,
            "text": "{\"results\":[{\"id\":\"541452\",\"name\":\"Test Role\",\"requiresBillingWrite\":false}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-hubspot-correlation-id",
              "value": "5b1a6cf3-0729-45ac-925d-00d7d17e01c0"
            },
            {
              "name": "x-hubspot-ratelimit-interval-milliseconds",
              "value": "10000"
            },
            {
              "name": "x-hubspot-ratelimit-max",
              "value": "100"
            },
            {
              "name": "x-hubspot-ratelimit-remaining",
              "value": "99"
            },
            {
              "name": "x-hubspot-ratelimit-secondly",
              "value": "10"
            },
            {
              "name": "x-hubspot-ratelimit-secondly-remaining",
              "value": "9"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 283,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
