{
  "log": {
    "_recordingName": "fetchRoles",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "983d855805927189c8b0447a1b95a2d3",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "30"
            }
          ],
          "url": "https://api.hubapi.com/settings/v3/users/roles?limit=30"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 246,
            "text": "[\"1f8b0800000000000003000000ffffaa562a4a2d2ecd292956b28aae56ca4c51b252b23437323050d251ca4bcc4d55b25272ad48cc2dc8490dcacf4955d2512a4a2d2ccd2c4a2d76caccc9c9cc4b0f2fca2c4955b24a4bcc294eadd5811b606a6988d500230226c4d602000000ffff03008909faad90000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-hubspot-correlation-id",
              "value": "d66873f5-a53f-41bd-9fab-4ba4a6500e59"
            },
            {
              "name": "x-hubspot-ratelimit-interval-milliseconds",
              "value": "10000"
            },
            {
              "name": "x-hubspot-ratelimit-max",
              "value": "500"
            },
            {
              "name": "x-hubspot-ratelimit-remaining",
              "value": "499"
            },
            {
              "name": "x-hubspot-ratelimit-secondly",
              "value": "50"
            },
            {
              "name": "x-hubspot-ratelimit-secondly-remaining",
              "value": "49"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 265,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
