{
  "log": {
    "_recordingName": "fetchRoles",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "3befe0ca00fe7532a452821224793de3",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.hubapi.com/settings/v3/users/roles"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 202,
            "text": "{\"results\":[{\"id\":\"95124\",\"name\":\"TestRole\",\"requiresBillingWrite\":false},{\"id\":\"95389\",\"name\":\"SuperRole\",\"requiresBillingWrite\":true},{\"id\":\"96735\",\"name\":\"LimitedRole\",\"requiresBillingWrite\":false}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-hubspot-correlation-id",
              "value": "2969869d-06c6-4ffe-8023-d3047affc72d"
            },
            {
              "name": "x-hubspot-ratelimit-interval-milliseconds",
              "value": "10000"
            },
            {
              "name": "x-hubspot-ratelimit-max",
              "value": "500"
            },
            {
              "name": "x-hubspot-ratelimit-remaining",
              "value": "499"
            },
            {
              "name": "x-hubspot-ratelimit-secondly",
              "value": "50"
            },
            {
              "name": "x-hubspot-ratelimit-secondly-remaining",
              "value": "49"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1055,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
